BasedOnStyle: Google

# Brace style
BreakBeforeBraces: Attach #Allman

# Indentation
IndentWidth: 4
TabWidth: 4
UseTab: Never
IndentPPDirectives: None #BeforeHash
PPIndentWidth: 4
IndentCaseLabels: false

# Inline short statements
AllowShortIfStatementsOnASingleLine: true
AllowShortLoopsOnASingleLine: true
AllowShortBlocksOnASingleLine: Always
AllowShortFunctionsOnASingleLine: None

# Pointer alignment
PointerAlignment: Right
DerivePointerAlignment: false

# Max line length before breaking
ColumnLimit: 85 #default google 80

IncludeBlocks: Preserve
SortIncludes: false # breaks Windows headers
